header{
    background-color: #E43ED6;
}

main{
    background-color: #AC4C97;
}
footer{
    background-color: #AA378B;
}
h1{
    text-align: center;
    font-size: 128px;
    color:#C800FF;
    background-color: #F28BE8;
    border-radius: 95px;
    margin: 55px;
}
.group{
    display: flex;
}
.user{
    margin: 5px;
    width: 344px;
    height: 350px;
    background-color: #D9D9D9;
    border-radius: 28px;
}
.photo{
   
     border-radius: 100px;
      width: 235px;
    height: 235px;
}
p{
    text-align: center;
    font-size:28px;
    color:#E43ED6;
